/*============================*/
#login,#info { display: none; }

/* Login form */
body.login-form {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    display:table;
}
.login-form .wrapper {
    width:100%;
    height:100%;
    display:table-cell;
    vertical-align:middle;
    text-align: center;
}
.login-form .button_login{ 
    margin:0px auto;
    width:30%;   
}
.login-form .button_login a{
    display: block;
    text-align: center;
    width: 100%;
} 

/* Checkin page */
.checkin-page .wrappers{
    width:95%;
    height:20%;
    margin: 1% auto;
}
.checkin-page .photo,
.checkin-page .comment,
.checkin-page .avatar,
.checkin-page .name-plase{
    position:relative;
    height:100%;
    border:1px solid #555;
    float: left;
}

.checkin-page .avatar{
    width: 10%;
}
.checkin-page .name-plase{
    position:static;
    width: 89%;
    float: right;
}
.checkin-page .comment{
    width:95%;
    height:20%;
    margin: auto;
    float: none;
}
.checkin-page .photo{
    width: 95%;
    height:40%;
    margin:1% auto;
    float: none;
}
.checkin-page .button-ok{
    margin-bottom:2%;
    margin: auto;
    width:30%;
}
.checkin-page .button-ok a{
    display: block;
    text-align: center;
    width: 100%;
}

/* Game goes */
.game-page .footer h1,
.game-page .verh h1 {
    color: white;
    font-size: 5%;
}
.game-page .verh{
    text-align: center;
    background: none repeat scroll 0% 0% black;
    height: 50%;
    width: 95%;
    margin: auto;
}
.game-page .seredina {
    text-align: center;
    height: 10%;
    width: 95%;
    margin: auto;
}
.game-page .footer {
    text-align: center;
    background: none repeat scroll 0% 0% green;
    height: 25%;
    width: 95%;
    margin: 1% auto;
}
.game-page .checkin-block{ 
   height: 10%;
   width: 100%;
   margin:  auto;
}
.game-page .checkin{ 
    margin:0px auto;
    width:10%;   
}
.game-page p{
    margin:0px auto;
}
.game-page a{
    display: block;
    text-align: center;
    width: 100%;
}

/* Check in */
.checkin .map,
.checkin .place {
    text-align: center;
}

.checkin .map{ 
    border: 1px solid #555; height: 50%; width: 95%; margin:  auto;
}
.checkin .seredina {
    height: 7%;
    width: 95%;
    margin: auto;
}
.checkin .footer {
    height: 30%;
    width: 95%;
    margin: auto;
}
.checkin .place {
    border: 1px solid #555;
    height: 30%;
    width: 100%;
    margin: auto;
}
.checkin .block-button{ 
    height: 10%; width: 100%;margin:  auto;
}
.checkin .button{ 
    margin:0px auto;
    width:10%;   
}
.checkin a{
    display: block;
    text-align: center;
    width: 100%;
} 
